<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fas fa-key fa-1x"></i> Sercets</a
    >

    <% if (!isAuth) { %>
    <div class="nav-con">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-dark btn-md" href="/register" role="button"
            >Register</a
          >
          <a class="btn btn-dark btn-md" href="/login" role="button">Login</a>
        </li>
      </ul>
    </div>
    <% } else { %>
    <div class="nav-con">
      <ul class="navbar-nav mb-2 mr-2">
        <li class="nav-item">
          <a class="account" href="/account">Account</a>
        </li>
      </ul>
    </div>
    <% } %>
  </div>
</nav>

<!-- submit secrets-->

<!-- secrets to read -->

<div class="text-center">
  <div class="container">
    <h1>Read Some of User's Secrets!</h1>
    <% secrets.forEach(function(secret) { %>
    <p class="secret-text"><%=secret%></p>
    <% }); %>
  </div>
</div>

<%- include('partials/footer') %>
